/* ========== NAVBAR ========== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 75px;
  border-radius: 50%;
}

#menulist {
  display: flex;
  gap: 28px;
  list-style: none;
}

#menulist li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

#menulist li a:hover {
  color: #6d04ff;
}

.primary-btn {
  padding: 10px 18px;
  background: linear-gradient(135deg, #6d04ff, #bf00bf);
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s ease;
}

.primary-btn:hover {
  opacity: 0.8;
}